<style>

    .grid-container
    {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto;
        
        gap: 4px;   
    }
       
    .creator-container
    {
        display: inline-grid;
        
        grid-template-columns: auto auto auto auto auto auto;
        gap: 4px;
    }

    .creator-item
    {
        padding: 20.5px;
        border-radius: 7%;
        align-items: flex-end;
    }

    .grid-item
    {
        padding: 20.5px;
        border-radius: 7%;
        align-items: flex-end;
    }

    .card
    {
        border-radius: 7%;
        border-style: none;
        padding: 20.5px;
        width: 13rem;
        height: 8rem; 
        display: flex; 
        align-items: flex-start;
    }

    .icon
    {
        display: flex;  
        height: 50%;
        float: left;
    }

    .card-title
    {
        display: flex;
        padding-top: 15px;
        font-size: 105%;
    }
  
  
   </style>
  
   <div class = "container" style="display: flex; flex: content; padding-left: 95px; padding-top: 50px;">
    <div class="d-flex flex-column ">
        <div class = "d-flex flex-column">
            <div class="grid-container">
                <div class="card">
                    <img class = "icon" src = "https://www.youtube.com/img/explore/destinations/icons/trending_color_64.png">
                    <h5 class="card-title">Trending</h5>
                </div>
        
                <div class="card">
                    <img class = "icon" src = "https://www.youtube.com/img/explore/destinations/icons/music_color_64.png">
                    <h5 class="card-title">Music</h5>
                </div>
        
                <div class="card">
                    <img class = "icon" src = "https://www.youtube.com/img/explore/destinations/icons/movies_color_64.png">
                    <h5 class="card-title">Movies & Shows</h5>
                </div>
        
                <div class="card">
                    <img class = "icon" src = "https://www.youtube.com/img/explore/destinations/icons/live_color_64.png">
                    <h5 class="card-title">Live</h5>
                </div>
        
                <div class="card">
                    <img class = "icon" src = "https://www.youtube.com/img/explore/destinations/icons/gaming_color_64.png">
                    <h5 class="card-title">Gaming</h5>
                </div>
        
                <div class="card">
                    <img class = "icon" src = "https://www.youtube.com/img/explore/destinations/icons/news_color_64.png">
                    <h5 class="card-title">News</h5>
                </div>
        
                <div class="card">
                    <img class = "icon" src = "https://www.youtube.com/img/explore/destinations/icons/sports_color_64.png">
                    <h5 class="card-title">Sports</h5>
                </div>
        
                <div class="card">
                    <img class = "icon" src = "https://www.youtube.com/img/explore/destinations/icons/learning_color_64.png">
                    <h5 class="card-title">Learning</h5>
                </div>
        
                <div class="card">
                    <img class = "icon" src = "https://youtube.com/img/explore/destinations/icons/fashion_and_beauty_color_64.png">
                    <h5 class="card-title">Fashion & Beauty</h5>
                </div>
                </div>
                <div class = "d-flex flex-row">
                    IMG Creator Creator on the Rise
                </div>
                <div class = "d-flex flex-row creator-container">
                    Videos Here
                </div>
                <div class = "d-flex flex-row">
                    Trending Videos
                </div>
                <div class = "d-flex flex-row creator-container">
                    Videos Here
                </div>
        </div>
    </div>

  <!--For side bar video stuff-->
  <!--<side-videocard videoTitle = "aasdasa" videoLength = 10:00 videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></side-videocard>-->
  </div>