a.navbar-brand {
    position:absolute; left:75px;
    position:absolute; top: 0px;

    block-size: 60px;
}

.youtube-logo {
    position:absolute; left:40px;
    position:absolute; top: 0px;
    size:absolute;
}

#headerbar{ /*Grabs the id*/
    color: red;
}

#searchbutton{
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.05);
    outline-style: auto;
    outline-color: rgb(214, 209, 209);
    height: 30px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    width: 30px;
}

#searchbar{
    position: absolute; left: 400px;
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}

#headericon
{
    display: inline-block;
    background: none;
    outline: none;
    outline-color: rgb(214, 209, 209);
    height: 30px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    
}

#dropdownMenuButton1
{
    display: inline-block;
    background: none;
    outline: none;
    border: none;
    outline-color: rgb(214, 209, 209);
    height: 35px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    width: 35px;
}

#HeaderDropdown
{
    display: inline-block;
    background: none;
    outline: none;
    outline-color: rgb(214, 209, 209);
    height: 35px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    width: 35px;

    margin-inline: 12px;
}
