<!--<html>
<div class="pos-f-t">
  <nav class="navbar navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a class="navbar-brand" href="#">
          <img src="app/img/logo.png" alt="" width="100%" height="100%" class="d-inline-block">
        </a>
      </div>
  </nav>
</div>
</html>-->

<!--<html>
    <div id = "headerbar" class = "container-fluid">
        <div class = "row">
            <div class = "col-1">
                <a class="navbar-brand" class="d-inline-block" href="#">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                  </a>
            </div> 
            <div class = "col-1">
                <a class="navbar-brand" href="#">
                    <img src="app/img/logo.png" alt="" width="100%" height="100%">
                  </a>
            </div>
            <div class = "col-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
            </div>     
        </div>

        <div class = "row">
            <div class = "col-1">Col One </div>
            <div class = "col-1">Col Two </div>
          </div>

          <div class = "row">
            <div class = "col-1">Col One </div>
            <div class = "col-1">Col Two </div>
          </div>

          <div class = "row">
            <div class = "col-1">Col One </div>
            <div class = "col-1">Col Two </div>
          </div>
      </div>
</html>-->

<html>
    <div id = "headerbar" class = "container-fluid">
        <div class = "row">
            <div class="pos-f-t">
                <nav class="navbar navbar-light bg-white">
                    <div class = "col-1">
                        <a class="navbar-brand" class="d-inline-block" href="#">
                            <!--Expand Button-->
                              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#sideBarCollapse" aria-expanded="false" aria-controls="navbarToggleExternalContent">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                          </a>
                    </div> 
                    <div class = "col-1">
                        <a class="navbar-brand" href="#">
                            <img src="app/img/logo.png" alt="" width="100%" height="100%">
                          </a>
                    </div>
                    <div class = "col-1"> <!--Just spacing-->
                    </div>
                    <div id = "searchbar" class = "col-5"> <!--Searchbar-->
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button type="button" class="btn btn-sm">
                                <img src = "app/img/searchicon.png" id = "searchbutton">
                            </button>
                            <!--button class="btn btn-outline-success" type="submit"><img src="app/img/searchicon.png" alt="" width="20%" height="20%"></button-->
                        </form>
                    </div>     
                    <div class = "col-2"> <!--Just spacing-->
                    </div>  
                    <div class = "col-2">
                        <!--Upload Video-->
                        <img src="app/img/videoicon.png" alt="" id = "headericon">
                        <!--Youtube Apps-->
                        <img src="app/img/appsicon.png" alt="" id = "headericon">
                        <!--Bell Notification-->
                        <img src="app/img/bellicon.png" alt="" id = "headericon">
                        <!--Profile Icon-->
                        <img src="app/img/profileicon.png" alt="" id = "headericon" style="height: 27.5px; width: auto;">
                    </div> 
                </nav>
            </div>
        </div>
      </div>
</html>