<html>
    <div id = "headerbar" class = "container-fluid" style = "padding: 0;">
        <div class = "d-flex-row">
            <div class="pos-f-t">
                <nav class="navbar fixed-top navbar-light bg-white">
                    <div class = "col-1">
                        <a class="navbar-brand" class="d-inline-block" href="#">
                            <!--Expand Button-->
                              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#sideBarCollapse" aria-expanded="false" aria-controls="collapseExample" style="position: relative; left: 15px;">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                          </a>
                    </div> 
                    <div class = "col-1">
                        <a class="navbar-brand" href="#">
                            <img src="app/img/logo.png" alt="" width="100%" height="100%">
                          </a>
                    </div>
                    <div class = "col-1"> <!--Just spacing-->
                    </div>
                    <div id = "searchbar" class = "col-5"> <!--Searchbar-->
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button type="button" class="btn btn-sm">
                                <img src = "app/img/searchicon.png" id = "searchbutton">
                            </button>
                            <!--button class="btn btn-outline-success" type="submit"><img src="app/img/searchicon.png" alt="" width="20%" height="20%"></button-->
                        </form>
                    </div>     
                    <div class = "col-2"> <!--Just spacing-->
                    </div>  
                    <div class = "col-2">

                      <!--Upload Video-->
                      <div class="dropdown" id = HeaderDropdown>
                        <button class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="app/img/videoicon.png" alt="" id = "headericon">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a routerLink = "/uploadVideo" class="dropdown-item" href="#">Upload a video</a></li>
                          <li><a class="dropdown-item" href="#">Go live</a></li>
                        </ul>
                      </div>

                      <!--Youtube Apps-->
                      <div class="dropdown" id = HeaderDropdown>
                        <button class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="app/img/appsicon.png" alt="" id = "headericon">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">YouTube TV</a></li>
                          <li><a class="dropdown-item" href="#">YouTube Music</a></li>
                          <li><a class="dropdown-item" href="#">YouTube Kids</a></li>
                          <li><a class="dropdown-item" href="#">Creator Academy</a></li>
                          <li><a class="dropdown-item" href="#">YouTube for Artists</a></li>
                        </ul>
                      </div>
                       
                      <!--Bell Notification-->
                      <div class="dropstart" id = HeaderDropdown>
                        <button class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="app/img/bellicon.png" alt="" id = "headericon">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div>
                      
                      <!--Profile Icon-->
                      <div class="dropstart" id = HeaderDropdown>
                        <button class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img src="app/img/profileicon.png" alt="" id = "headericon" style="height: 27.5px; width: auto;">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a routerLink = "/mychannel" class="dropdown-item" href="#">Your channel</a></li>
                          <li><a class="dropdown-item" href="#">Purchase and memberships</a></li>
                          <li><a class="dropdown-item" href="#">YouTube Studio</a></li>
                          <li><a  routerLink = "/switchAccount" class="dropdown-item" href="#">Switch account</a></li>
                          <li><a class="dropdown-item" href="#">Sign Out</a></li>
                          <li><a class="dropdown-item" href="#">Appearance: Device theme</a></li>
                          <li><a class="dropdown-item" href="#">Language: English</a></li>
                          <li><a class="dropdown-item" href="#">Location: United States</a></li>
                          <li><a class="dropdown-item" href="#">Settings</a></li>
                          <li><a class="dropdown-item" href="#">Settings</a></li>
                          <li><a class="dropdown-item" href="#">Your data in YouTube</a></li>
                          <li><a class="dropdown-item" href="#">Help</a></li>
                          <li><a class="dropdown-item" href="#">Send feedback</a></li>
                          <li><a class="dropdown-item" href="#">Keyboard shortcuts</a></li>
                          <li><a class="dropdown-item" href="#">Restricted Mode: Off</a></li>
                        </ul>
                      </div>
                    </div> 
                </nav>
            </div>
        </div>
      </div>
</html>