#carouselControl
{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color:rgba(0, 0, 0, 0.15);
}

#carouselButton
{
    margin-left: 75px;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.05);
}

.carousel-control-next
{
  width: 5vw;
  height: 5vw;
  margin: auto;
}
.carousel-control-prev
{
  width: 5vw;
  height: 5vw;
  margin: auto;
}