<style>
  #carouselControl
{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color:rgba(0, 0, 0, 0.15);
}

#carouselButton
{
    margin-left: 75px;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.05);
}

.carousel-control-next
{
  width: 5vw;
  height: 5vw;
  margin: auto;
}
.carousel-control-prev
{
  width: 5vw;
  height: 5vw;
  margin: auto;
}
</style>
<div id="carouselControl" class="carousel slide carousel-dark container-fluid" data-interval="false" data-bs-interval="false">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="false" data-bs-interval="false"> 
        <button id = carouselButton>All</button>
        <button id = carouselButton>Derivatives</button>
        <button id = carouselButton>Anime</button>
        <button id = carouselButton>Video Games</button>
        <button id = carouselButton>Outdoors</button>
        <button id = carouselButton>Funny</button>
        <button id = carouselButton>Piano</button>
      </div>
      <div class="carousel-item" data-interval="false" data-bs-interval="false">
        <button id = carouselButton>Orange</button>
        <button id = carouselButton>Apple</button>
        <button id = carouselButton>Banana</button>
        <button id = carouselButton>Grapes</button>
        <button id = carouselButton>Mango</button>
        <button id = carouselButton>Strawberry</button>
        <button id = carouselButton>Kiwi</button>
      </div>
      <div class="carousel-item" data-interval="false" data-bs-interval="false">
        <button id = carouselButton>C++</button>
        <button id = carouselButton>C</button>
        <button id = carouselButton>C#</button>
        <button id = carouselButton>Java</button>
        <button id = carouselButton>JavaScript</button>
        <button id = carouselButton>TypeScript</button>
        <button id = carouselButton>Python</button>
        <button id = carouselButton>Ruby</button>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControl" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselControl" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>