<style>

    .grid-container
    {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto;
        
        column-gap: 5px;
        row-gap: 25px;
    }
       
    .creator-container
    {
        display: inline-grid;
        
        grid-template-columns: auto auto auto auto auto auto;
        gap: 4px;
    }

    .grid-item
    {
        border-radius: 7%;
        align-items: flex-end;
    }

    .creator-item
    {
        padding: 20.5px;
        border-radius: 7%;
        align-items: flex-end;
    }

    .card
    {
        border-radius: 7%;
        border-style: none;
        padding: 20.5px;
        width: 13rem;
        height: 8rem; 
        display: flex; 
        align-items: flex-start;
    }

    .icon
    {
        display: flex;  
        height: 50%;
        float: left;
    }
  
  
   </style>
  
   <div class = "container" style="display: flex; flex: content; padding-left: 95px; padding-top: 50px;">
    <div class="d-flex flex-column ">
        <div class = "d-flex flex-column">
            <div class = "d-flex flex-row date-text" style="margin-bottom: 25px; font-weight: bold;">
                Today
            </div>
            <div class = "grid-container">
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>            
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>   
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
            </div>

            <hr style="margin-top: 40px;"/>

            <div class = "d-flex flex-row date-text" style="margin-top: 25px; margin-bottom: 25px; font-weight: bold;">
                Yesterday
            </div>
            <div class = "grid-container">
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
            </div>

            <hr style="margin-top: 40px;"/>

            <div class = "d-flex flex-row" style="margin-top: 25px; margin-bottom: 25px; font-weight: bold;">
                This Week
            </div>
            <div class = "grid-container">
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
                <div class="grid-item"><videocard-small videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></videocard-small>
                </div>  
            </div>
        </div>
    </div>

  <!--For side bar video stuff-->
  <!--<side-videocard videoTitle = "aasdasa" videoLength = 10:00 videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></side-videocard>-->
  </div>