<style>
#mainVideoCard .reccomendation
{
    cursor: pointer;
}

#mainVideoCard .info
{
    display: flex;
    align-items: flex-start;
}

#mainVideoCard .view-info
{
    display: flex;
    justify-content: space-between;
}

#mainVideoCard .preview
{
    position: relative;
}

#mainVideoCard .timestamp
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: black;
    color: white;
    padding: 0.15rem;
    border-radius: 0.25rem;
}

#mainVideoCard .icon
{
    border-radius: 50%;
}
</style>

<div id = "mainVideoCard">
    <div class = "reccomendation">
        <div class= "preview">
            <img alt = "thumbnail" [src] = "videoImage" style="width: 320px">
            <div class = "timestamp">{{videoLength}}</div>
        </div>

        <div class = "info" style="padding-top: 10px;">
            <img class = "icon" alt = "a" [src] = "videoCreatorImage" style="width: 48px">
            
            <div class = "videoInfo" style="margin-left: 10px">
                <div class = "title" style = "font-size: 95%; font-weight: bold;">{{videoTitle}}</div>
                <div class = "username" style = "font-size: 90%;">{{videoCreator}}</div>
                <div class = "view-info" style = "font-size: 90%;">
                    <div>{{videoViews}} views</div>
                    <div> • </div>
                    <div>{{videoDate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>