#mainVideoCard .reccomendation
{
    cursor: pointer;
}

#mainVideoCard .info
{
    display: flex;
    align-items: flex-start;
}

#mainVideoCard .view-info
{
    display: flex;
    justify-content: space-between;
}

#mainVideoCard .preview
{
    position: relative;
}

#mainVideoCard .timestamp
{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: black;
    color: white;
    padding: 0.15rem;
    border-radius: 0.25rem;
}

#mainVideoCard .icon
{
    border-radius: 50%;
}