<layout></layout>
<!--<link rel =  "stylesheet" type = "text/css" href = "node_modules/bootstrap/dist/css/bootstrap.css">--> 
<!--<div class = "d-inline-flex flex-column">
    Container 1
    <div class = row>
        <div class = col-1>
            Col 1
        </div>

        <div class = col-1>
            Col 2
        </div>
    </div>
</div>

<div class   = "d-inline-flex flex-column">
    Container 2
    <div class = row>
        <div class = col-1>
            Col 1
        </div>
    </div>
</div>-->

<!--Actual Code-->

<!--<div class = "d-flex d-inline-flex">
    <div class = "flex-column d-flex align-items-center">
        <sidebar-bar></sidebar-bar>
    </div>
    <div class = "flex-column d-flex align-items-center">
        <sidebar-collapse></sidebar-collapse>
    </div>
    <div class = "flex-column d-flex">
        <homescreen></homescreen>
        <carousel-bar></carousel-bar>
    </div>
</div>

<div class = "container-fluid" style="height: 50px; position: fixed; top: 0; background-color: red;">
    
</div>
<header-bar></header-bar>-->


<!--
<div class = "d-inline-flex flex-column">
    <div class = "d-flex flex-row">
        <div class = "flex-column d-flex align-items-center">
            <sidebar-bar></sidebar-bar>
        </div>
    </div>
</div>

<div class = "container d-inline-flex flex-column">
    <div class = "d-flex flex-row">
        <carousel-bar></carousel-bar>
    </div>

    <div class = "d-flex flex-row">
        <homescreen></homescreen>
    </div>

</div> 

<div class = "row">

<div class = "col-1 flex-column d-flex align-items-center">
    <sidebar-bar></sidebar-bar>
</div>

<div id = sideBarCollapse class = "col-2" #a 
[attr.disabled]="isDisabled"
(click)="SidebarToggle()">
    <sidebar-collapse></sidebar-collapse>
</div>

<div class = "col-11">
    <carousel-bar></carousel-bar>
    <homescreen></homescreen>
</div>
</div>


sidebar-collapse></sidebar-collapse-->