<!DOCTYPE html>

<body id = "completeSidebar">
  <nav id = "collapsedSidebar" class="navbar navbar-light bg-light navbar-expand d-flex flex-column align-item-start">

    <button class = "row" id = collapsedSidebarButton>
        <div class = "col-3">
            <img src="app/img/homeicon.png" id = "collapsedSidebaricon" style="width: 100%; height: auto;">
        </div>
        <div id = collaspedSidebarText class = "col-9">
            Home
        </div>
    </button>

    <button class = "row" id = collapsedSidebarButton>
        <div class = "col-3">
            <img src="app/img/exploreicon.png" id = "collapsedSidebaricon" style="width: 100%; height: auto;">
        </div>
        <div id = collaspedSidebarText class = "col-9">
            Explore
        </div>
    </button>

    <button class = "row" id = collapsedSidebarButton>
        <div class = "col-3">
            <img src="app/img/subscriptionicon.png" id = "collapsedSidebaricon" style="width: 95%; height: auto;">
        </div>
        <div id = collaspedSidebarText class = "col-9">
            Subscriptions
        </div>
    </button>

    <button class = "row" id = collapsedSidebarButton>
        <div class = "col-3">
            <img src="app/img/homeicon.png" id = "collapsedSidebaricon" style="width: 95%; height: auto;">
        </div>
        <div id = collaspedSidebarText class = "col-9">
            Library
        </div>
    </button>

    <button class = "row" id = collapsedSidebarButton>
        <div class = "col-3">
            <img src="app/img/homeicon.png" id = "collapsedSidebaricon" style="width: 95%; height: auto;">
        </div>
        <div id = collaspedSidebarText class = "col-9">
            History
        </div>
    </button>

    <button class = "row" id = collapsedSidebarButton>
        <div class = "col-3">
            <img src="app/img/homeicon.png" id = "collapsedSidebaricon" style="width: 95%; height: auto;">
        </div>
        <div id = collaspedSidebarText class = "col-9">
            Your Videos
        </div>
    </button>

    <button class = "row" id = collapsedSidebarButton>
        <div class = "col-3">
            <img src="app/img/homeicon.png" id = "collapsedSidebaricon" style="width: 95%; height: auto;">
        </div>
        <div id = collaspedSidebarText class = "col-9">
            Watch Later
        </div>
    </button>

    <button class = "row" id = collapsedSidebarButton>
        <div class = "col-3">
            <img src="app/img/homeicon.png" id = "collapsedSidebaricon" style="width: 95%; height: auto;">
        </div>
        <div id = collaspedSidebarText class = "col-9">
            Liked Videos
        </div>
    </button>

  </nav>
</body>