#sidebar
{
    height: 1000px;
    width: 70px;

    color: black;
}

#sidebaricon
{   
    margin-top: 10px;
    position: relative;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sidebartextSmall
{
    font-size: 70%;
    text-align: center;
    padding: 0px;
    margin-bottom: 25px;
    /*text-align: center;*/
}