<!DOCTYPE html>

<style>
#sidebar
{
    height: 1000px;
    width: 70px;

    color: black;
}

#sidebaricon
{   
    position: absolute;
    margin-top: 10px;
    position: relative;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sidebartextSmall
{
    font-size: 70%;
    text-align: center;
    padding: 0px;
    margin-bottom: 15px;
    /*text-align: center;*/
}
</style>

<body id = "normalSidebar">
  <nav id = "sidebar" class="navbar navbar-light bg-white navbar-expand d-flex flex-column align-item-start">
    <table style="margin-left:auto; margin-right:auto;">
      <tr>
        <td>
          <button style="border: none; background: none;">
            <img src="app/img/homeicon.png" id = "sidebaricon" style="width: 45%; height: auto;">
            <div id = "sidebartextSmall">Home</div>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button style="border: none; background: none;">
            <img src="app/img/exploreicon.png" id = "sidebaricon" style="width: 45%; height: auto;">
            <div id = "sidebartextSmall">Explore</div>
          </button>
        </td>
      </tr>

      <tr>
        <td>
          <button style="border: none; background: none;">
            <img src="app/img/subscriptionicon.png" id = "sidebaricon" style="width: 40%; height: auto;">
            <div id = "sidebartextSmall">Subscriptions</div>
          </button>   
        </td>
      </tr>

      <tr>
        <td>
          <button style="border: none; background: none;">
            <img src="app/img/libraryicon.png" id = "sidebaricon" style="width: 40%; height: auto;">
            <div id = "sidebartextSmall">Library</div>
          </button>
        </td>
      </tr>

    </table>
  </nav>
</body>

<!--DOCTYPE html>

<body id = "completeSidebar">
  <nav id = "sidebar" class="navbar navbar-light bg-white navbar-expand d-flex flex-column align-item-start">
    <li class = "row">
        <img src="app/img/homeicon.png" id = "sidebaricon" style="width: 55%; height: auto;">
        <div id = "sidebartextSmall">Home</div>
  
        <img src="app/img/exploreicon.png" id = "sidebaricon" style="width: 55%; height: auto;">
        <div id = "sidebartextSmall">Explore</div>
  
        <img src="app/img/subscriptionicon.png" id = "sidebaricon" style="width: 50%; height: auto;">
        <div id = "sidebartextSmall">Subscriptions</div>
  
        <img src="app/img/libraryicon.png" id = "sidebaricon" style="width: 50%; height: auto;">
        <div id = "sidebartextSmall">Library</div>
    </li>
  </nav>
</body-->

<!--class = "collapse collapse-horizontal"-->