<!DOCTYPE html>

<body>
  <nav id = "sidebar" class="navbar navbar-light bg-white navbar-expand d-flex flex-column align-item-start">
    <div class = "row">
      <img src="app/img/homeicon.png" id = "sidebaricon" style="width: 55%; height: auto;">
      <div id = "sidebartextSmall">Home</div>
    </div>

    <div class = "row">
      <img src="app/img/exploreicon.png" id = "sidebaricon" style="width: 55%; height: auto;">
      <div id = "sidebartextSmall">Explore</div>
    </div>

    <div class = "row">
      <img src="app/img/subscriptionicon.png" id = "sidebaricon" style="width: 50%; height: auto;">
      <div id = "sidebartextSmall">Subscriptions</div>
    </div>

    <div class = "row">
      <img src="app/img/libraryicon.png" id = "sidebaricon" style="width: 50%; height: auto;">
      <div id = "sidebartextSmall">Library</div>
    </div>

  <!--nav class = "navbar navbar-expand d-flex flex-column align-item-start" id = "sidebar"-->
  </nav>


</body>