#collapsedSidebar
{
    height: 1000px;
    width: 200px;

    color: black;
}

#collapsedSidebarButton
{
    background: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: none;
}