<style>
  .grid-container
  {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 100px;
  }
  
  .grid-item
  {
      padding: 20.5px;
  }
</style>

<div style="display: flex; flex: content;">
    <div class="grid-container">
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
        <div class="grid-item"><videocard videoTitle = "Drake Got Scammed" videoCreator = "penguinz0" videoViews = "1.3M" videoLength = 7:31 videoDate = "4 days ago" videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww" videoCreatorImage = "https://yt3.ggpht.com/ytc/AKedOLT_BgSvzbNnFieMpuAeK4cDhe-Nyh2smZPipSg_6Q=s68-c-k-c0x00ffffff-no-rj"></videocard>
        </div>
      </div>
<!--For side bar video stuff-->
<!--<side-videocard videoTitle = "aasdasa" videoLength = 10:00 videoImage = "https://i.ytimg.com/vi/RXy6RfSYieU/hqdefault.jpg?sqp=-oaymwEcCOADEI4CSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAko_fzhs16NaHlttzjESyonlWMww"></side-videocard>-->
</div>